USE [master]
GO
/****** Object:  Database [LiberT]    Script Date: 28/11/2022 07:46:15 ******/
CREATE DATABASE [LiberT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LiberT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\LiberT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LiberT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\LiberT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LiberT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LiberT]
GO
/****** Object:  Table [dbo].[coment]    Script Date: 28/11/2022 07:46:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[coment](
	[textCom] [varchar](5000) NOT NULL,
	[statusCom] [int] NOT NULL,
	[insertDate] [varchar](20) NOT NULL,
	[modDate] [varchar](20) NULL,
	[fkUserCom] [int] NOT NULL,
	[fkPostCom] [int] NOT NULL,
	[comID] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[comID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[curtir]    Script Date: 28/11/2022 07:46:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[curtir](
	[fkLikePos] [int] NOT NULL,
	[fkLikeUse] [int] NOT NULL,
	[statusLike] [int] NOT NULL,
	[likeID] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[likeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[gen]    Script Date: 28/11/2022 07:46:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gen](
	[nome] [varchar](50) NOT NULL,
	[statusGen] [int] NOT NULL,
	[genID] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[genID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nome] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[genPos]    Script Date: 28/11/2022 07:46:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[genPos](
	[fkPos] [int] NOT NULL,
	[fkGen] [int] NOT NULL,
	[status] [int] NOT NULL,
	[genPos] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[genPos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[img]    Script Date: 28/11/2022 07:46:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[img](
	[originalName] [varchar](255) NOT NULL,
	[pathImg] [varchar](1000) NOT NULL,
	[keyImg] [varchar](100) NOT NULL,
	[statusImg] [int] NOT NULL,
	[insertDate] [varchar](20) NOT NULL,
	[modDate] [varchar](20) NULL,
	[imgID] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[imgID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[liv]    Script Date: 28/11/2022 07:46:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[liv](
	[nome] [varchar](100) NOT NULL,
	[statusLiv] [int] NOT NULL,
	[pathLiv] [varchar](255) NOT NULL,
	[insertDate] [varchar](20) NOT NULL,
	[modDate] [varchar](20) NULL,
	[keyLiv] [varchar](500) NOT NULL,
	[livID] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[livID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[keyLiv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[posImg]    Script Date: 28/11/2022 07:46:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[posImg](
	[fkPost] [int] NOT NULL,
	[fkImg] [int] NOT NULL,
	[statusPosImg] [int] NOT NULL,
	[posImgID] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[posImgID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[post]    Script Date: 28/11/2022 07:46:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[post](
	[titulo] [varchar](100) NOT NULL,
	[texto] [varchar](max) NOT NULL,
	[statusPost] [int] NOT NULL,
	[insertDate] [varchar](20) NOT NULL,
	[modDate] [varchar](20) NULL,
	[fkUser] [int] NOT NULL,
	[fkLiv] [int] NOT NULL,
	[curtir] [int] NULL,
	[postID] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[postID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[titulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuar]    Script Date: 28/11/2022 07:46:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuar](
	[email] [varchar](255) NOT NULL,
	[senha] [varchar](25) NOT NULL,
	[nome] [varchar](50) NOT NULL,
	[nomePlum] [varchar](50) NULL,
	[statusUser] [int] NOT NULL,
	[insertDate] [varchar](20) NOT NULL,
	[modDate] [varchar](20) NULL,
	[fkImg] [int] NOT NULL,
	[userID] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nome] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[coment]  WITH CHECK ADD  CONSTRAINT [comPost] FOREIGN KEY([fkPostCom])
REFERENCES [dbo].[post] ([postID])
GO
ALTER TABLE [dbo].[coment] CHECK CONSTRAINT [comPost]
GO
ALTER TABLE [dbo].[coment]  WITH CHECK ADD  CONSTRAINT [comUser] FOREIGN KEY([fkUserCom])
REFERENCES [dbo].[usuar] ([userID])
GO
ALTER TABLE [dbo].[coment] CHECK CONSTRAINT [comUser]
GO
ALTER TABLE [dbo].[curtir]  WITH CHECK ADD  CONSTRAINT [likePos] FOREIGN KEY([fkLikePos])
REFERENCES [dbo].[post] ([postID])
GO
ALTER TABLE [dbo].[curtir] CHECK CONSTRAINT [likePos]
GO
ALTER TABLE [dbo].[curtir]  WITH CHECK ADD  CONSTRAINT [likeUser] FOREIGN KEY([fkLikeUse])
REFERENCES [dbo].[usuar] ([userID])
GO
ALTER TABLE [dbo].[curtir] CHECK CONSTRAINT [likeUser]
GO
ALTER TABLE [dbo].[genPos]  WITH CHECK ADD  CONSTRAINT [genGen] FOREIGN KEY([fkGen])
REFERENCES [dbo].[gen] ([genID])
GO
ALTER TABLE [dbo].[genPos] CHECK CONSTRAINT [genGen]
GO
ALTER TABLE [dbo].[genPos]  WITH CHECK ADD  CONSTRAINT [genPost] FOREIGN KEY([fkPos])
REFERENCES [dbo].[post] ([postID])
GO
ALTER TABLE [dbo].[genPos] CHECK CONSTRAINT [genPost]
GO
ALTER TABLE [dbo].[posImg]  WITH CHECK ADD  CONSTRAINT [posIm] FOREIGN KEY([fkImg])
REFERENCES [dbo].[img] ([imgID])
GO
ALTER TABLE [dbo].[posImg] CHECK CONSTRAINT [posIm]
GO
ALTER TABLE [dbo].[posImg]  WITH CHECK ADD  CONSTRAINT [posImPos] FOREIGN KEY([fkPost])
REFERENCES [dbo].[post] ([postID])
GO
ALTER TABLE [dbo].[posImg] CHECK CONSTRAINT [posImPos]
GO
ALTER TABLE [dbo].[post]  WITH CHECK ADD  CONSTRAINT [postLiv] FOREIGN KEY([fkLiv])
REFERENCES [dbo].[liv] ([livID])
GO
ALTER TABLE [dbo].[post] CHECK CONSTRAINT [postLiv]
GO
ALTER TABLE [dbo].[post]  WITH CHECK ADD  CONSTRAINT [postUser] FOREIGN KEY([fkUser])
REFERENCES [dbo].[usuar] ([userID])
GO
ALTER TABLE [dbo].[post] CHECK CONSTRAINT [postUser]
GO
ALTER TABLE [dbo].[usuar]  WITH CHECK ADD  CONSTRAINT [UserImg] FOREIGN KEY([fkImg])
REFERENCES [dbo].[img] ([imgID])
GO
ALTER TABLE [dbo].[usuar] CHECK CONSTRAINT [UserImg]
GO
USE [master]
GO
